{% extends 'base.html' %}

{% block title %}
    {% if form.instance.pk %}Editar Cliente{% else %}Nuevo Cliente{% endif %}
{% endblock %}

{% block content %}
<h1>{% if form.instance.pk %}Editar Cliente{% else %}Nuevo Cliente{% endif %}</h1>
<form method="post">
    {% csrf_token %}
    <table class="form-table">
        {{ form.as_table }}
    </table>
    <button type="submit" class="btn">Guardar</button>
</form>
<a href="{% url 'cliente_list' %}" class="btn btn-secondary">Volver a la Lista</a>
{% endblock %}
